* {
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

body {
	background-color:#EEEEEE;
}

/* Text Styles */

h1 {
	text-align: left;
	color: #1a0090;
	font: 20pt/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 15px;
}

h2 {
	color: #424242;
	font-size: 18px;
}

h3 {
	color: #5e5e5e;
	font-size: 14px;
	font-weight: bold;
}

h4 {
	color: #5e5e5e;
	font-weight: bold;
	font-size: 12px;
}

h5 {
	color: #5e5e5e;
	font-weight: bold;
	font-size: 11px;
}

hr {
	background-color: #1a0090;
	border-top: 1px solid #1a0090;
}

a {
	color: #1a0090;
	text-decoration: none;
}

em {
	font-style: italic;
}

a:hover {
	background-color: #59d6ff;
	color: #080096;
}

a.nohover:hover {
	background-color: transparent;
}

a.icon_link:hover {
	background-color:#ffffff;
}

a.selected {
	text-decoration: underline;
	font-weight: bold;
}

.strike {
	text-decoration: line-through;
}

.strong {
	font-weight: bold;
}

.caption {
	font-style: italic;
	font-size: 10px;
	color: #5e5e5e;
	margin-top: -10px;
}

ul {
	list-style-type: square;
	text-align: left;
	list-style-position: outside;
}

ul li {
	margin-bottom: 10px;
}

ul li.alt_row {
	background-color: #eaeaea;
}

ol li {
	margin-bottom: 10px;
}

.panel {
	padding: 10px;
	border: 1px solid #a9a9a9;
	margin: 10px;
	background-color: white;
}

.shady {
	background-color:#F9F9FF;
}

blockquote {
	margin: 10px;
	border: 1px solid #5e5e5e;
	padding: 10px;
	background-color: rgba(133,213,253,0.3);
}

code {
	background-color: #eaeaea;
	font-family: "Courier New", Courier, mono;
	margin: 10px;
	overflow: auto;
}
