Django==1.4
-e git://github.com/Axilent/django-axilent#egg=Django_Axilent-0.1dev-py2.7-dev
-e git://github.com/Axilent/sharrock#egg=Sharrock-0.1dev-py2.7-dev
httplib2==0.7.4
wsgiref==0.1.2
gevent==0.13.7
greenlet==0.3.4
gunicorn==0.14.3
psycopg2
boto==2.4.1
django-storages==1.1.4
